<main>
    <section class="home" id="home">
        <div class="home-left">
          <p class="section-subtitle">Welcome To PostEx world</p>

          <h1 class="main-heading">
            Everyone wins
            <span class="underline-img"
              >with postEx <img src="../../../assets/banner-line.png" alt="line"
            /></span>
          </h1>

          <p class="section-text">
            “A unified payment solution that offers growth for your business. Payments made easy. Accept all major debit and credit

            cards from customers around the
            
            world. Make your transaction to accepting digital

            payments seamless at zero charges
          </p>
          <div class="home-btn-group">
            <button class="btn btn-primary">
              <p class="btn-text">Explore services</p>
              <span class="square"></span>
            </button>
          </div>
        </div>

        <div class="home-right">
          <div class="img-box">
            <img
              src="../../../assets/about-img-bg.png"
              alt="colorful background shape"
              class="background-shape"
            />
            <img
              src="../../../assets/hero-image-removebg-preview.png"
              alt="banner image"
              class="banner-img"
            />
          </div>
        </div>
    </section>
</main>
